.button
{
    display:inline-block;
    margin: 0;
    padding: 15px 20px;
    border-radius: 40px;
    border:none;
    font-size: 0px;
    line-height: 16px;
    color:#fff;
    transition: background 0.2s;
    cursor:pointer;
    text-align: center;
    box-sizing: border-box;
}

.button-submit
{
    border-radius: 50px;
    height:50px;
}


.button-blue{
    background: rgb(7,125,125);

}

.button-blue:hover{
    background: rgb(7,200,200);

    
}

.button:active{
    background: rgb(7,250,255);
}



@media (max-width: 480px){
    .button{
        display: block;
        width:100%;
    }
}