ul{
    list-style:none;
}
body{
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}
.img{
   width:100%;
   display: block;
    border-radius: 50px;
   position: relative;
   max-height: 400px;
   min-height: 400px;
   padding: 0;
   margin:0;
   margin-left:0;
   background: url('../img/food.jpg') no-repeat center center / cover;
}

.img2{
    background: url('../img/drink.jpg') no-repeat center center / cover;
}

.img3{
    background: url('../img/fun.jpg') no-repeat center center / cover;
}
.img .container{
    height: calc(70vh - 70px);
    position: relative;
    z-index: 2;
}

.img h1{
    margin-bottom: 30px;
    font-size: 52px;
    line-height: 52px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    text-transform: uppercase;
    color: #B4C5E4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article:hover{
    
}
li article{
    float:left;
    text-align: center;
    border-radius: 40px;
    min-width: 240px;
    padding: 20px 15px;
    margin: 15px 15px;
    background-color: rgba(124, 165, 243, 0.3);
}
li article img{
    width:100px;
    height:100px;
}