/*
Header
*/



.header{
    background-color: rgba(60, 72, 139, 0.8);
    width:100vw;
    padding:15px 0;
    box-shadow: 0 0 12px rgba(0,0,0,0.8);
    position: fixed;
    z-index: 3;
    color:white;
  

}

.header ul{
    padding-right: 80px;
}
.header a {
    color:#FFF;
    text-decoration: none;


}

.logo{
    padding-top:10px;
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;

}

@media(max-width: 600px) {
    .header{
        text-align:center;
        position: relative;

    }
    .logo,
    .header ul{
        float:none;
    }

    .logo{
        padding-top: 0;
        margin-bottom:10px;
    }

    .header nav
    {
        padding:0;
        
    }

    .header a:not(.logo){
        font-size: 10px;
        padding:0px;
        line-height: 10px;
    }
}