/*
    Section
*/

.container{

    max-width:980px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

section{
    padding-top:60px;
    padding-bottom:60px;
}
@media(max-width: 600px){
    section{
        padding-top:30px;
        padding-bottom:30px;
    }
}
.row{
    margin:0 -15px;
}
.row:before,.row:after{
    content:"";
    display:table;
    clear: both;
}
.col{
    padding: 0 15px;
    float: left;
    box-sizing: border-box;
}

.col-sm-100
{
    width: 100%;

}

.col-sm-75
{
    width: 75%;
    margin-bottom: 20px;
}

.col-sm-50
{
    width: 50%;
    margin-bottom: 20px;
}


.col-sm-25
{
    width: 25%;
    margin-bottom: 20px;

}

.article-image{
    margin: 0 15px 10px 0;
   
}

@media(min-width:480px){
    .col-md-100
    {
        width: 100%;

    }

    .col-md-75
    {
        width: 75%;
        margin-bottom: 20px;
    }

    .col-md-50
    {
        width: 50%;
        margin-bottom: 20px;
    }


    .col-md-25
    {
        width: 25%;
        margin-bottom: 20px;

    }
}
@media(min-width:900px){
    .col-lg-100
    {
        width: 100%;

    }

    .col-lg-75
    {
        width: 75%;
        margin-bottom: 20px;
    }

    .col-lg-50
    {
        width: 50%;
        margin-bottom: 20px;
    }


    .col-lg-25
    {
        width: 25%;
        margin-bottom: 20px;

    }
}

.hide{
    display:none;
}

@media (max-width: 479px)
{
    .show-on-sm{
        display: block;
    }
}
@media (max-width: 480px) and (max-width: 899px)
{
    .show-on-md{
        display: block;
    }
}

@media (min-width: 900px)
{
    .show-on-lg{
        display: block;
    }
}


