.button
{
    display:inline-block;
    
    margin-left: 400px;
    padding-bottom: 20px;
    
    border-radius: 40px;
    border: 5px outset white;
    height: 50px;
    width: 50px;
    font-size: 10px;
    line-height: 16px;
    color:#fff;
    transition: background 0.2s;
    cursor:pointer;
    text-align: center;
   
}

button:disabled{
    background: #666;
}
.button-submit
{
    border-radius: 50px;
    height:50px;
}


.button-blue{
    background: rgb(7,125,125);

}

.button-blue:hover{
    background: rgb(7,200,200);

    
}

.button:active{
    background: rgb(7,250,255);
}



@media (max-width: 480px){
    .button{
        display: block;
        width:100%;
    }
}