.form{
    width:350px;
}

textarea{
    width: 250px;
    display:inline-block;
    margin: 0;
    padding: 15px 20px;
    border-radius: 6px;
    font-size: 20px;
    line-height: 20px;
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
}

textarea:focus{
    background:rgba(97, 92, 97, 0.2);
    transition: ease-in-out, background .35s ease-in-out;
    
}
.input{
    margin: 0;
    padding: 10px 10px;
    margin:10px 10px;
    border-radius: 50px;
    outline: none;
    font-size: 16px;
    width: 350px;
    line-height: 18px;
}

.input:hover{
   background: rgb(238, 255, 238);
}

input:focus{
    
   background:rgba(97, 92, 97, 0.2);
   transition: ease-in-out, background .35s ease-in-out;

}

.maxheight{
    height: 450px;
}