body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.light-blue
{
  background-color: rgb(28, 73, 177);
}
.blue{
  background-color: rgb(15, 15, 97);
}

.container {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: grid;
  grid-template-areas: "box1" "box2" "box3";  
  grid-gap: 0;
  
}

.greece
{
  grid-template-areas:  "box1" "box2" 
                        "box3" "box4" 
                        "box5" "box6" 
                        "box7" "box8"; 
}

.logo{
  grid-template-areas: "box1 box2" 
  "box3 box4";  
  grid-gap:5rem;
  width: 40vw;
  height: 38vh;
}

.cruz {
  grid-template-areas: "box1 box2" 
                       "box3 box4";  
                       grid-gap:7rem;
}



.white {
  background-color: #fff;
}

.small{
  width:30vw;
}

.big{
  width:70vw;
}

.full{
  width:100vw;
}
.red{
  background-color: red;
}

.yellow{
  background-color: yellow;
}
.black{
  background-color: black;

}
.box1 {
  grid-area: box1;
}

.box2 {
  grid-area: box2;
}

.box3 {
  grid-area: box3;  
}

.box4 {
  grid-area: box4;   
}

.box5 {
  grid-area: box5;
}

.box6 {
  grid-area: box6;
}

.box7 {
  grid-area: box7;  
}

.box8 {
  grid-area: box8;   
}

.circulo {  
  height: 20vw;
  width: 20vw;
  background-color: #C70025;
  border-radius: 50%;
  justify-content: center;
  margin: 30vh auto;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 125px;
    height: 20vw;
     width: 20vw;
}
