.container
{
    box-sizing: border-box;
    max-width:50px;
    max-height:50px;
}

div {
    width: 200px;
    height: 50px;
  }

 .linhahorizontal
 {
    width: 100%;
    height: 20%;

 }

 .top-25
 {
    position: absolute;
     top:25%;
 }
 
 .meio{
     top:50%;
     left:50%;
 }

 .left-50{
    position: absolute;
    left:50%;
 }

 .top-50{
    position: absolute;
     top:50%;
 }
 .vertical{
    width: 20%;
    height: 100%;
 }
 
 .left-25{
     
    position: absolute;
    left:25%;
 }

  .azul
  {
    background-color: blue;
  }