.button
{
    display:inline-block;
    margin: 20px;
    padding: 15px 20px;
    border-radius: 4px;
    border:none;
    font-size: 16px;
    line-height: 16px;
    color:#fff;
    transition: background 0.2s ease-in-out 0s,transform 0.2s ease-in-out 0s;
    cursor:pointer;
    text-align: center;
    box-sizing: border-box;
}

.button-submit
{
    border-radius: 50px;
    height:50px;
}


.button:hover{
    transform: scale(1.1);
}
.button-blue{
    background: #0f7afd;

}

.button-blue:hover{
    background: #0c5bbd;

    
}

.button-red{
    background: red;

}

.button-red:hover{
    background: #770606;

    
}

.button-red:active{
    background: #300303;

    
}

.button-blue:active{
    background:#36b5f0;
}

.button-green{
    background: #34ae49;

}

.button-green:hover{
    background: #0f7720;

}

.button-green:active{
    background: #3eb10c;

}

@media (max-width: 480px){
    .button{
        display: block;
        width:100%;
    }
}