
.glowT{
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 10px #7dda27, 0 0 20px #34df8f, 0 0 30px #7eb4fc, 0 0 40px #7eb4fc, 0 0 50px #7eb4fc, 0 0 60px #7eb4fc, 0 0 70px #7eb4fc;
}

.swing-in-left-fwd {
	-webkit-animation: swing-in-left-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-left-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@-webkit-keyframes swing-in-left-fwd {
  0% {
    -webkit-transform: rotateY(100deg);
            transform: rotateY(100deg);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 1;
  }
}
@keyframes swing-in-left-fwd {
  0% {
    -webkit-transform: rotateY(100deg);
            transform: rotateY(100deg);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 1;
  }
}


.flip-in-hor-bottom {
	-webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}


h1{
  text-transform: uppercase;
  padding-top: 20px;
}

/* Customize the label (the container) */
.box {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-left: 40%;
  width: 50%;
  padding-top: 0px;
  color:red;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 12px;
  cursor: pointer;
  background-color: rgb(52, 125, 235);
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: rgb(33, 243, 128);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 10px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



.header{
  position: relative;
  width: 100%;
}
.row{
  margin:0 -15px;
}
.row:before,.row:after{
  content:"";
  display:table;
  clear: both;
}


.col{
  padding: 0 15px;
  float: left;
  box-sizing: border-box;
}


.col-50
{
  width: 50%;
  margin-bottom: 20px;
}

body{
  background-color: #DDD;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 20px;
    overflow: hidden;
    background-color: white;
    width: 100%;
    height: 70px;

  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #0f7afd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    border-top-right-radius: 20px;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #DDD;
    color: #00d9ff;
  }

  .container{

    max-width:980px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    min-height: 500px;
}

.link {
    text-decoration: none;
    color: rgb(58, 158, 240);
}
.link:hover
{
  color: #00d9ff;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.itemc {

    background-color: white;
    color:  #0f7afd;;
  
  }
  


.item {
  background-color: white;
    color:  #0f7afd;;
    height: 100px;
    width: 100px;
    margin-top: 50px;
    margin-right: 50px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    float: left;
    font-size: 20px;
    text-align: center;
    vertical-align: 20%;
    border-radius: 20px;
    text-transform: uppercase;
  }
 
.agencia{
  background-image: url('./icon-agency.png');
  background-size: cover;
  height: 200px ;
  width: 200px ;
}

.pull-left{
  float: left;
}

.pull-right{
  float:right;
}
.usuario{
  width: 400px;
  height: 200px;
}

.tipo{
  background-image: url('./icon-type.png');
  background-size: 10%;
  background-repeat: no-repeat;
  width: 400px;
  height: 80px;
}

.login{
  padding-top: 20px;
  margin-top: 50px;
  border-radius: 40px;
  height: 350px;
  width: 400px;
  background: white;
  border-color: red;
  margin-left: auto;
  margin-right: auto;
}

.login h1{
  font-size: 35px;
  color: #0f7afd;
  margin-bottom: 50px;
}

.button
{
    display:inline-block;
    margin: 20px;
    padding: 15px 20px;
    border-radius: 40px;
    border:none;
    font-size: 16px;
    line-height: 16px;
    color:#fff;
    transition: background 0.2s ease-in-out 0s,transform 0.2s ease-in-out 0s;
    cursor:pointer;
    text-align: center;
    box-sizing: border-box;

}

.button-blue{
  background: #0f7afd;

}

.button-blue:hover{
  background: #3cd656;

  
}

input{
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 50%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
input:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input:placeholder {
  color: #cccccc;
}
article{
  min-height: 400px;
  border-radius: 30px;
  background-color:#5fbae9; 
}


/*
    Footer
*/

.footer{
  padding: 30px 0;
  background: #efefef;
}

.footer p{
  margin:30px 0 0;
  font-size: 11px;
  line-height: 14px;
  color: #999;
}

.footer a{
  font-size: 12px;
  line-height: 12px;
  color: #666;
}

@media (max-width:600px){
  .footer nav {
      margin-left: -15px;
      margin-right: -15px;
  }
}