.slide-left {
    -webkit-animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1ms ;
    animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1ms ;
   
}

.slide-right {
    -webkit-animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1ms ;
    animation: slide-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1ms ;
    margin-left: 40vw !important;
}

 @-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX( 0px );
              transform: translateX( 0px );
    }
    100% {
      -webkit-transform: translateX( -120px );
              transform: translateX( -120px );      
    }
  } 
  @keyframes slide-left {
    0% {
        -webkit-transform: translateX( 0px );
                transform: translateX( 0px );
      }
      100% {
        -webkit-transform: translateX( -120px );
                transform: translateX( -120px );      
      }
  }
  



  @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX( -5vw );
              transform: translateX( -5vw );
    }
    100% {
      -webkit-transform: translateX( 0 );
              transform: translateX( 0 );      
    }
  }
  @keyframes slide-right {
    0% {
        -webkit-transform: translateX( -5vw );
                transform: translateX( -5vw );
      }
      100% {
        -webkit-transform: translateX( 0 );
                transform: translateX( 0 );      
      }
  }
