/*
    Section
*/

body{
    overflow: hidden;
    background-color: #CCC;
    background: url('../img/background.jpg') no-repeat center center / cover;
}
.pokedex{
    min-height: 400px;
    min-width: 400px;
    margin-top:0px;
    padding-top: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color:black;
  
   
    
    /* 
    border-radius: 5%;
    border-style: outset;
    background-color: rgb(251,5,6);
    border-color: red;
    border-width: 4px; */
}

.open{
    margin: 0;
    padding: 0;
    width:400px;
    height:400px;
}
.numero{
    height: 40px;
    width: 50px;
    font-size:20px;
    margin-left: 400px;
    margin-top:50px;
    border-radius: 40%;
    background-color: rgb(12, 78, 2);
    transition: background 0.2s ease-in-out 0s;
}

.numero:hover{
    background-color: rgb(25, 160, 4);
}

.numero:focus{
    background-color: rgba(40, 250, 6, 1);
}

.blue
{
    background-color: blue;
}

.pokedex .dir{
    position: fixed;
    padding-left: 10px;
    height:570px;
    margin-bottom: 0;
    padding-bottom:-50px;
    min-width: 500px;
    z-index: 1;
    background: url('../img/back.png') no-repeat center center / contain;
    margin-left: 120px;
}
    
.dir h2, h3{
    padding-left: 200px;
}

li{
    list-style-type: none;
}

.pokedex .esq{
    position: fixed;
    padding-left: 20px;
    
   
    min-height:600px;
    width: 600px;

    background-color: rgba(40, 250, 6, 1);
    border-radius: 5%;
    margin-left: 28vw;
    z-index: 0;
    background: url('../img/back2.png') no-repeat center center / contain;

  }
  .pokedex .esq .info{
      margin-top:200px;
      padding-left: 40px;
      width: 300px;
      max-height: 50px;
   font-size:12px;
   font-weight: bolder
   

  }
 
.pokedex .img-frame{

   
    min-height:250px;
    min-width: 220px;
    max-height:200px;
    max-width: 220px;
    padding:10px;
    margin-left: 190px;
    margin-top: 140px;
    background: url('../img/frame.png') no-repeat center / cover;
    background-color: #555;
}

.led{
    position: absolute;
    margin: 0;
    padding-top: 2%;
    z-index: 0;
    padding-left: 23%;
    filter: grayscale(100%);
    height: 65px;
}
.pokedex .img{
    min-height:150px;
    min-width: 150px;
    max-height:150px;
    max-width: 150px;
    padding-left: 40px;
    padding-top: 40px;
    border-style: none;
    border:0;
    border:none;
    outline: none;
    

}

.info{
    box-sizing: border-box;
    
    min-height: 400px;
    max-width: 300px;
  
}
.container{

    max-width:980px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

section{
    padding-top:60px;
    padding-bottom:60px;
}
@media(max-width: 600px){
    section{
        padding-top:30px;
        padding-bottom:30px;
    }
}
.row{
    margin:0 -15px;
}
.row:before,.row:after{
    content:"";
    display:table;
    clear: both;
}
.col{
    padding: 0 15px;
    float: left;
    box-sizing: border-box;
}

.col-sm-100
{
    width: 100%;

}

.col-sm-75
{
    width: 75%;
    margin-bottom: 20px;
}

.col-sm-50
{
    width: 50%;
    margin-bottom: 20px;
}


.col-sm-25
{
    width: 25%;
    margin-bottom: 20px;

}

.article-image{
    margin: 0 15px 10px 0;
   
}

@media(min-width:480px){
    .col-md-100
    {
        width: 100%;

    }

    .col-md-75
    {
        width: 75%;
        margin-bottom: 20px;
    }

    .col-md-50
    {
        width: 50%;
        margin-bottom: 20px;
    }


    .col-md-25
    {
        width: 25%;
        margin-bottom: 20px;

    }
}
@media(min-width:900px){
    .col-lg-100
    {
        width: 100%;

    }

    .col-lg-75
    {
        width: 75%;
        margin-bottom: 20px;
    }

    .col-lg-50
    {
        width: 50%;
        margin-bottom: 20px;
    }


    .col-lg-25
    {
        width: 25%;
        margin-bottom: 20px;

    }
}

.hide{
    display:none;
}

@media (max-width: 479px)
{
    .show-on-sm{
        display: block;
    }
}
@media (max-width: 480px) and (max-width: 899px)
{
    .show-on-md{
        display: block;
    }
}

@media (min-width: 900px)
{
    .show-on-lg{
        display: block;
    }
}


