

.article{
  min-width: 440px;
  width: 480px;
  max-width: 440px;
  min-height: 600px;
  padding: 20px;
  margin: 20px;
  border-radius: 40px;
  border: 1px solid red;
  color: white;
  background: #282c34;
  transition-duration: 0.4s;
}

.article:hover{
  transform: scale(1.05)
}


.article h1{
  color: red;
  font-family: "Times New Roman", Times, serif;
}

.banner-lg{
    min-width: 600px;
    width : 600px;
    max-width: 600px;
    height: 350px;
    margin: 20px;
    border-radius: 40px;
  
}
.banner{
  min-width: 400px;
  width : 400px;
  max-width: 400px;
  height: 250px;
  margin: 20px;
  border-radius: 40px;
}

.strangerthings{
  background: url('../img/strangerthings.jpg') no-repeat center bottom / cover;
}

.gameofthrones{
  background: url('../img/gameofthrones.jpg') no-repeat center bottom / cover;
}

.thewalkingdead{
  background: url('../img/thewalkingdead.jpg') no-repeat center center / cover;
}


.bandofbrothers{
  background: url('../img/bandofbrothers.jpg') no-repeat center center / cover;
}


.mrrobot{
  background: url('../img/mrrobot.jpg') no-repeat center center / cover;
}


.narcos{
  background: url('../img/narcos.jpg') no-repeat center center / cover;
}

.westworld{
  background: url('../img/westworld.jpg') no-repeat center center / cover;
}

.breakingbad{
  background: url('../img/breakingbad.jpg') no-repeat center center / cover;
}


.center{
  padding-top: 100px;
}

.registrada{
  visibility: hidden
}

.menu {
  padding:0px;
  margin:50px;
  width:400px;
  float:right;
}
.verde{
  background-color: green
}
.vermelho{
  background-color: red
}
body{
  background-color: black;
}

.App {
  text-align: center;
}

.mensagem{
  height:50px;
}

.border-red{
  border-style: solid;
  border-color: red;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row{
  margin:0 -15px;
}
.row:before,.row:after{
  content:"";
  display:table;
  clear: both;
}
.col{
  padding: 0 15px;
  float: left;
  box-sizing: border-box;
}

.col-100
{
  width: 100%;

}

.col-75
{
  width: 75%;
  margin-bottom: 20px;
}

.col-50
{
  width: 50%;
  margin-bottom: 20px;
}


.col-25
{
  width: 25%;
  margin-bottom: 20px;

}

.container{

  max-width:1100px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.center{
  padding-top: 100px;
}

.registrada{
  visibility: hidden
}