.div-select {  /* Tamanho final do select */
    overflow:hidden; /* Esconde o conteúdo que passar do tamanho especificado */
}
  
.div-select select {
    padding:0;
     margin-top: 0px;
     
      background-color: red;
      font-family:Arial, Helvetica, sans-serif; /* Fonte do Select */
      font-size:17px; /* Tamanho da Fonte */
      color:#fff; /* Cor da Fonte */
      text-indent: 0.01px; /* Remove seta padrão do FireFox */
      text-overflow: "";  /* Remove seta padrão do FireFox */     
  
}