/*
Header
*/

.header{
    padding: 0px 0px;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    margin-top: 0;
    background: black;
    box-shadow: 0 0 12px rgba(32, 36, 37, 0.8);
    position: relative;
    color:  white;
    z-index: 3;

}

.absolute{
    position: absolute;
}
a{
    color:  white;
}
.logo{
    padding-top:10px;
    margin-left: 20px;
    margin-right: 50px;
    font-size: 22px;
    width: 50px;
    height: 50px;
    line-height: 22px;
    font-weight: bold;
    background: url('../img/logo.jpg') no-repeat center center / cover;
}

@media(max-width: 600px) {
    .header{
        text-align:center;
    }
    .logo,
    .header ul{
        float:none;
    }

    .logo{
        padding-top: 0;
        margin-bottom:10px;
    }

    .header nav
    {
        padding:0;
        
    }

    .header a:not(.logo){
        font-size: 12px;
        padding:7px;
        line-height: 12px;
    }
}