
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.pull-left{
  float:left;
}

.pull-right{
  float:right
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row{
  margin:0 -15px;
}
.row:before,.row:after{
  content:"";
  display:table;
  clear: both;
}
.col{
  padding: 0 15px;
  float: left;
  box-sizing: border-box;
}

.col-100
{
  width: 100%;

}

.col-75
{
  width: 75%;
  margin-bottom: 20px;
}

.col-50
{
  width: 50%;
  margin-bottom: 20px;
}


.col-25
{
  width: 25%;
  margin-bottom: 20px;

}

.container{

  max-width:980px;
  margin: 0 auto;
  margin-top:50px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
